/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button {
    -fx-font-size: 18px;
    -fx-pref-width: 100%; /* Szerokość automatyczna */
    -fx-pref-height: 100%; /* Wysokość automatyczna */
    -fx-alignment: CENTER; /* Wyrównanie */
}
